In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r'C:\Users\PC\Downloads\ifeData.xlsx')
print(df)

                                   Country Name Country Code  \
0                                   Afghanistan          AFG
1                                       Albania          ALB
2                                       Algeria          DZA
3                                American Samoa          ASM
4                                       Andorra          AND
..                                          ...          ...
261                          Sub-Saharan Africa          SSF
262  Sub-Saharan Africa (excluding high income)          SSA
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS
264                         Upper middle income          UMC
265                                       World          WLD

                                           Series Name  Unnamed: 3  \
0    Agricultural raw materials imports (% of merch...         NaN
1    Agricultural raw materials imports (% of merch...         NaN
2    Agricultural raw materials imports (% of merch...         NaN
3    Agricultural raw materials imports (% of merch...         NaN
4    Agricultural raw materials imports (% of merch...         NaN
..                                                 ...         ...
261  Agricultural raw materials imports (% of merch...         NaN
262  Agricultural raw materials imports (% of merch...         NaN
263  Agricultural raw materials imports (% of merch...         NaN
264  Agricultural raw materials imports (% of merch...         NaN
265  Agricultural raw materials imports (% of merch...         NaN

     Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7 2019 [YR2019]
0           NaN         NaN         NaN         NaN       1.76946
1           NaN         NaN         NaN         NaN       0.87503
2           NaN         NaN         NaN         NaN           NaN
3           NaN         NaN         NaN         NaN           NaN
4           NaN         NaN         NaN         NaN           NaN
..          ...         ...         ...         ...           ...
261         NaN         NaN         NaN         NaN      1.136517
262         NaN         NaN         NaN         NaN      1.137154
263         NaN         NaN         NaN         NaN      1.136517
264         NaN         NaN         NaN         NaN      2.173421
265         NaN         NaN         NaN         NaN      1.379941

[266 rows x 9 columns]

In [3]:
df.head

<bound method NDFrame.head of                                    Country Name Country Code  \
0                                   Afghanistan          AFG
1                                       Albania          ALB
2                                       Algeria          DZA
3                                American Samoa          ASM
4                                       Andorra          AND
..                                          ...          ...
261                          Sub-Saharan Africa          SSF
262  Sub-Saharan Africa (excluding high income)          SSA
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS
264                         Upper middle income          UMC
265                                       World          WLD

                                           Series Name  Unnamed: 3  \
0    Agricultural raw materials imports (% of merch...         NaN
1    Agricultural raw materials imports (% of merch...         NaN
2    Agricultural raw materials imports (% of merch...         NaN
3    Agricultural raw materials imports (% of merch...         NaN
4    Agricultural raw materials imports (% of merch...         NaN
..                                                 ...         ...
261  Agricultural raw materials imports (% of merch...         NaN
262  Agricultural raw materials imports (% of merch...         NaN
263  Agricultural raw materials imports (% of merch...         NaN
264  Agricultural raw materials imports (% of merch...         NaN
265  Agricultural raw materials imports (% of merch...         NaN

     Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7 2019 [YR2019]
0           NaN         NaN         NaN         NaN       1.76946
1           NaN         NaN         NaN         NaN       0.87503
2           NaN         NaN         NaN         NaN           NaN
3           NaN         NaN         NaN         NaN           NaN
4           NaN         NaN         NaN         NaN           NaN
..          ...         ...         ...         ...           ...
261         NaN         NaN         NaN         NaN      1.136517
262         NaN         NaN         NaN         NaN      1.137154
263         NaN         NaN         NaN         NaN      1.136517
264         NaN         NaN         NaN         NaN      2.173421
265         NaN         NaN         NaN         NaN      1.379941

[266 rows x 9 columns]>

In [4]:
df = df.drop(df.columns[3], axis=1)
print(df)

                                   Country Name Country Code  \
0                                   Afghanistan          AFG
1                                       Albania          ALB
2                                       Algeria          DZA
3                                American Samoa          ASM
4                                       Andorra          AND
..                                          ...          ...
261                          Sub-Saharan Africa          SSF
262  Sub-Saharan Africa (excluding high income)          SSA
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS
264                         Upper middle income          UMC
265                                       World          WLD

                                           Series Name  Unnamed: 4  \
0    Agricultural raw materials imports (% of merch...         NaN
1    Agricultural raw materials imports (% of merch...         NaN
2    Agricultural raw materials imports (% of merch...         NaN
3    Agricultural raw materials imports (% of merch...         NaN
4    Agricultural raw materials imports (% of merch...         NaN
..                                                 ...         ...
261  Agricultural raw materials imports (% of merch...         NaN
262  Agricultural raw materials imports (% of merch...         NaN
263  Agricultural raw materials imports (% of merch...         NaN
264  Agricultural raw materials imports (% of merch...         NaN
265  Agricultural raw materials imports (% of merch...         NaN

     Unnamed: 5  Unnamed: 6  Unnamed: 7 2019 [YR2019]
0           NaN         NaN         NaN       1.76946
1           NaN         NaN         NaN       0.87503
2           NaN         NaN         NaN           NaN
3           NaN         NaN         NaN           NaN
4           NaN         NaN         NaN           NaN
..          ...         ...         ...           ...
261         NaN         NaN         NaN      1.136517
262         NaN         NaN         NaN      1.137154
263         NaN         NaN         NaN      1.136517
264         NaN         NaN         NaN      2.173421
265         NaN         NaN         NaN      1.379941

[266 rows x 8 columns]

In [5]:
df = df.drop(df.columns[3], axis=1)
print(df)

                                   Country Name Country Code  \
0                                   Afghanistan          AFG
1                                       Albania          ALB
2                                       Algeria          DZA
3                                American Samoa          ASM
4                                       Andorra          AND
..                                          ...          ...
261                          Sub-Saharan Africa          SSF
262  Sub-Saharan Africa (excluding high income)          SSA
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS
264                         Upper middle income          UMC
265                                       World          WLD

                                           Series Name  Unnamed: 5  \
0    Agricultural raw materials imports (% of merch...         NaN
1    Agricultural raw materials imports (% of merch...         NaN
2    Agricultural raw materials imports (% of merch...         NaN
3    Agricultural raw materials imports (% of merch...         NaN
4    Agricultural raw materials imports (% of merch...         NaN
..                                                 ...         ...
261  Agricultural raw materials imports (% of merch...         NaN
262  Agricultural raw materials imports (% of merch...         NaN
263  Agricultural raw materials imports (% of merch...         NaN
264  Agricultural raw materials imports (% of merch...         NaN
265  Agricultural raw materials imports (% of merch...         NaN

     Unnamed: 6  Unnamed: 7 2019 [YR2019]
0           NaN         NaN       1.76946
1           NaN         NaN       0.87503
2           NaN         NaN           NaN
3           NaN         NaN           NaN
4           NaN         NaN           NaN
..          ...         ...           ...
261         NaN         NaN      1.136517
262         NaN         NaN      1.137154
263         NaN         NaN      1.136517
264         NaN         NaN      2.173421
265         NaN         NaN      1.379941

[266 rows x 7 columns]

In [6]:
df = df.drop(df.columns[3], axis=1)
print(df)

                                   Country Name Country Code  \
0                                   Afghanistan          AFG
1                                       Albania          ALB
2                                       Algeria          DZA
3                                American Samoa          ASM
4                                       Andorra          AND
..                                          ...          ...
261                          Sub-Saharan Africa          SSF
262  Sub-Saharan Africa (excluding high income)          SSA
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS
264                         Upper middle income          UMC
265                                       World          WLD

                                           Series Name  Unnamed: 6  \
0    Agricultural raw materials imports (% of merch...         NaN
1    Agricultural raw materials imports (% of merch...         NaN
2    Agricultural raw materials imports (% of merch...         NaN
3    Agricultural raw materials imports (% of merch...         NaN
4    Agricultural raw materials imports (% of merch...         NaN
..                                                 ...         ...
261  Agricultural raw materials imports (% of merch...         NaN
262  Agricultural raw materials imports (% of merch...         NaN
263  Agricultural raw materials imports (% of merch...         NaN
264  Agricultural raw materials imports (% of merch...         NaN
265  Agricultural raw materials imports (% of merch...         NaN

     Unnamed: 7 2019 [YR2019]
0           NaN       1.76946
1           NaN       0.87503
2           NaN           NaN
3           NaN           NaN
4           NaN           NaN
..          ...           ...
261         NaN      1.136517
262         NaN      1.137154
263         NaN      1.136517
264         NaN      2.173421
265         NaN      1.379941

[266 rows x 6 columns]

In [7]:
df.head()

,Country Name,Country Code,Series Name,Unnamed: 6,Unnamed: 7,2019 [YR2019]
0,Afghanistan,AFG,Agricultural raw materials imports (% of merch...,NaN,NaN,1.76946
1,Albania,ALB,Agricultural raw materials imports (% of merch...,NaN,NaN,0.87503
2,Algeria,DZA,Agricultural raw materials imports (% of merch...,NaN,NaN,NaN
3,American Samoa,ASM,Agricultural raw materials imports (% of merch...,NaN,NaN,NaN
4,Andorra,AND,Agricultural raw materials imports (% of merch...,NaN,NaN,NaN

In [12]:
column_to_remove = ['Unnamed: 6','Unnamed: 7']

In [9]:
df.isnull().sum()

Country Name       0
Country Code       0
Series Name        0
Unnamed: 6       266
Unnamed: 7       266
2019 [YR2019]     61
dtype: int64

In [10]:
df.shape

(266, 6)

In [11]:
df.describe()

       Unnamed: 6  Unnamed: 7
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN

In [20]:
df.sum(axis=1)

C:\Users\PC\AppData\Local\Temp\ipykernel_18832\1459321664.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis=1)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
261    0.0
262    0.0
263    0.0
264    0.0
265    0.0
Length: 266, dtype: float64

In [21]:
print(df)

                                   Country Name Country Code  \
0                                   Afghanistan          AFG
1                                       Albania          ALB
2                                       Algeria          DZA
3                                American Samoa          ASM
4                                       Andorra          AND
..                                          ...          ...
261                          Sub-Saharan Africa          SSF
262  Sub-Saharan Africa (excluding high income)          SSA
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS
264                         Upper middle income          UMC
265                                       World          WLD

                                           Series Name 2019 [YR2019]
0    Agricultural raw materials imports (% of merch...       1.76946
1    Agricultural raw materials imports (% of merch...       0.87503
2    Agricultural raw materials imports (% of merch...           NaN
3    Agricultural raw materials imports (% of merch...           NaN
4    Agricultural raw materials imports (% of merch...           NaN
..                                                 ...           ...
261  Agricultural raw materials imports (% of merch...      1.136517
262  Agricultural raw materials imports (% of merch...      1.137154
263  Agricultural raw materials imports (% of merch...      1.136517
264  Agricultural raw materials imports (% of merch...      2.173421
265  Agricultural raw materials imports (% of merch...      1.379941

[266 rows x 4 columns]

In [22]:
df.isnull().sum()

Country Name      0
Country Code      0
Series Name       0
2019 [YR2019]    61
dtype: int64

In [23]:
Country_code_column = df['Country Code']

In [24]:
print(Country_code_column)

0      AFG
1      ALB
2      DZA
3      ASM
4      AND
      ...
261    SSF
262    SSA
263    TSS
264    UMC
265    WLD
Name: Country Code, Length: 266, dtype: object

In [25]:
df.sort_values(by='Country Code').head()

,Country Name,Country Code,Series Name,2019 [YR2019]
9,Aruba,ABW,Agricultural raw materials imports (% of merch...,0.35067
217,Africa Eastern and Southern,AFE,Agricultural raw materials imports (% of merch...,1.103181
0,Afghanistan,AFG,Agricultural raw materials imports (% of merch...,1.76946
218,Africa Western and Central,AFW,Agricultural raw materials imports (% of merch...,1.213113
5,Angola,AGO,Agricultural raw materials imports (% of merch...,0.93621

In [26]:
df.groupby('Country Code').mean().head()

C:\Users\PC\AppData\Local\Temp\ipykernel_18832\1627002405.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df.groupby('Country Code').mean().head()

Empty DataFrame
Columns: []
Index: [ABW, AFE, AFG, AFW, AGO]

In [27]:
df.groupby('Country Code').max(). head()

,Country Name,Series Name,2019 [YR2019]
Country Code,,,
ABW,Aruba,Agricultural raw materials imports (% of merch...,0.35067
AFE,Africa Eastern and Southern,Agricultural raw materials imports (% of merch...,1.103181
AFG,Afghanistan,Agricultural raw materials imports (% of merch...,1.76946
AFW,Africa Western and Central,Agricultural raw materials imports (% of merch...,1.213113
AGO,Angola,Agricultural raw materials imports (% of merch...,0.93621

In [28]:
df.sort_values(by='Country Code').head()

,Country Name,Country Code,Series Name,2019 [YR2019]
9,Aruba,ABW,Agricultural raw materials imports (% of merch...,0.35067
217,Africa Eastern and Southern,AFE,Agricultural raw materials imports (% of merch...,1.103181
0,Afghanistan,AFG,Agricultural raw materials imports (% of merch...,1.76946
218,Africa Western and Central,AFW,Agricultural raw materials imports (% of merch...,1.213113
5,Angola,AGO,Agricultural raw materials imports (% of merch...,0.93621

In [29]:
column_to_remove = ['Unnamed: 6','Unnamed: 7']

In [30]:
df = df.drop(column_to_remove, axis=1)

KeyError: "['Unnamed: 6', 'Unnamed: 7'] not found in axis"

In [ ]:
df.to_csv('updated_dataset.csv', index=False)

In [ ]:
df.to_csv('your_dataset.csv', index=False)

In [31]:
print(df)

                                   Country Name Country Code  \
0                                   Afghanistan          AFG
1                                       Albania          ALB
2                                       Algeria          DZA
3                                American Samoa          ASM
4                                       Andorra          AND
..                                          ...          ...
261                          Sub-Saharan Africa          SSF
262  Sub-Saharan Africa (excluding high income)          SSA
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS
264                         Upper middle income          UMC
265                                       World          WLD

                                           Series Name 2019 [YR2019]
0    Agricultural raw materials imports (% of merch...       1.76946
1    Agricultural raw materials imports (% of merch...       0.87503
2    Agricultural raw materials imports (% of merch...           NaN
3    Agricultural raw materials imports (% of merch...           NaN
4    Agricultural raw materials imports (% of merch...           NaN
..                                                 ...           ...
261  Agricultural raw materials imports (% of merch...      1.136517
262  Agricultural raw materials imports (% of merch...      1.137154
263  Agricultural raw materials imports (% of merch...      1.136517
264  Agricultural raw materials imports (% of merch...      2.173421
265  Agricultural raw materials imports (% of merch...      1.379941

[266 rows x 4 columns]

In [18]:
df.head()

,Country Name,Country Code,Series Name,2019 [YR2019]
0,Afghanistan,AFG,Agricultural raw materials imports (% of merch...,1.76946
1,Albania,ALB,Agricultural raw materials imports (% of merch...,0.87503
2,Algeria,DZA,Agricultural raw materials imports (% of merch...,NaN
3,American Samoa,ASM,Agricultural raw materials imports (% of merch...,NaN
4,Andorra,AND,Agricultural raw materials imports (% of merch...,NaN

In [19]:
df.describe()

,Country Name,Country Code,Series Name,2019 [YR2019]
count,266,266,266,205
unique,266,266,1,200
top,Afghanistan,AFG,Agricultural raw materials imports (% of merch...,..
freq,1,1,266,5

In [ ]:
df.groupby('Country Code').max(). head()

In [ ]:
row_to_remove = 0

In [ ]:
df = df.drop(row_to_remove, axis=0)

In [ ]:
df.to_csv('updated_dataset.csv', index=False)

In [ ]:
df.to_csv('your_dataset.csv', index=False)

In [ ]:
print(df)

In [ ]:
df.groupby('Series Name').max(). head()